// display
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

// borders
@mixin border-large {
  border: 2px solid $gray-light;
}

@mixin border-small {
  border: 1px solid $gray-light;
}

@mixin border-bottom-small {
  border-bottom: 1px solid $gray-lightest;
}

@mixin border-large-blue {
  border: 2px solid $primary-blue;
}

@mixin border-small-blue {
  border: 1px solid $primary-blue;
}

// box shadow
@mixin box-shadow {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px $gray-lightest;
}
