// Colors

$primary-blue: #417cf2;
$secondary-blue: #6393f2;
$primary-yellow: #f2e963;
$secondary-yellow: #d9c359;
$primary-red: #f26363;

$gray-lightest: rgba(0, 0, 0, 0.06);
$gray-light: rgba(0, 0, 0, 0.28);
$gray-dark: rgba(0, 0, 0, 0.64);

$black: #000;
$white: #fff;
